*,:after,:before{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font:14px/1.6 Roboto,Arial,sans-serif;
  background-color:#fdfdfd;
  -webkit-animation:a 10s infinite;
          animation:a 10s infinite;
}

main{
  width:100vw;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

h1{
  color:#0ff;
  text-shadow:0 1px 3px rgba(0, 0, 0, .5529411764705883);
}

@-webkit-keyframes a{
  0%{
    background-color:#8fbc8f;
  }
  30%{
    background-color:azure;
  }
  50%{
    background-color:bisque;
  }
  80%{
    background-color:#deb887;
  }
  to{
    background-color:#5f9ea0;
  }
}

@keyframes a{
  0%{
    background-color:#8fbc8f;
  }
  30%{
    background-color:azure;
  }
  50%{
    background-color:bisque;
  }
  80%{
    background-color:#deb887;
  }
  to{
    background-color:#5f9ea0;
  }
}
